#d01{
border-style:dotted dotted dotted dotted;
border-width:1px 1px 1px 1px;
width:100%;
float:left;}

#d02{border-style:dotted dotted dotted dotted;
border-width:1px 1px 1px 1px;
width:48%;
float:left;
}
#d021{border-style:dotted dotted dotted dotted;
border-width:1px 1px 1px 1px;
width:48%;
float:left;
}
#d022{border-style:dotted dotted dotted dotted;
border-width:1px 1px 1px 1px;
width:48%;
float:right;}
#d03{border-style:dotted dotted dotted dotted;
border-width:1px 1px 1px 1px;
width:48%;
float:right;}
